h1 {
    font-size: medium;
}

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

h2 {
    font-size: small;
}

p {
    font-size: smaller;
}

html,body {
    height:100%;
    width:100%;
    margin:0;
  }
  body {
    background: #efefef;
    font-family: 'Times New Roman', Times, serif;
    display:flex;
  }
  form {
    margin:auto;
  }